<div class="course-card">
    <div *ngFor=" let r of ressource">
    <h6 class="cou-title">
        
        <a class="collapsed" data-bs-toggle="collapse" href="#collapseOne" aria-expanded="false">{{r.nomRessource}}</a>
    </h6>
    <div id="collapseOne" class="card-collapse collapse" style="">
        <ul>
            <li>
                <p><img src="" alt="" class="me-2">ssdfq</p>
                <div>
                    <a href="javascript:void(0);">Preview</a>
                    <span>02:53</span>
                </div>
            </li>
            
        </ul>
    </div>
</div>
</div>

    


<!-- /Course Content -->
